.idea/
!.idea/misc.xml
!.idea/modules.xml
!.idea/inspectionProfiles

*.iml
venv/
__pycache__/
*.pyc

/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

.env
images
cookies.txt
